/* table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
} */

@keyframes display {
    from {
        opacity : 0%;
    }
    to {
        opacity: 100%;
    }
}


body{
    background: black;
    height: 100vh;
    overflow: hidden;
    font-family: 'Gruppo';
}

@keyframes industrialGlow {
    from {
        border: 3px solid grey;
    }

    to {
        border: 3px solid lightgrey;
    }
}

input[type=text], select {
    animation: industrialGlow 1s linear 1s alternate infinite;
    border-radius: 1em !important;
}


.cup:hover{
    cursor: pointer;
    filter: drop-shadow( 0px 0px 10px rgba(255, 255, 255, .7));
    transform: scale(1.06);
}

#coffees {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: rgba(255,255,255,0.7);
    margin-top: 10vh;
    border-top-right-radius: 20px;
}

.top-header{
    background: linear-gradient(to bottom, black, white, black) !important;
    position: fixed;
    top: 0px;
    clear: both;
    width: 100vw;
    border-bottom-left-radius: 2.3em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.title-graphic{
    text-align: center;
    color: white;
}

#searchControls {
    background: rgba(255,255,255,0.7);
    padding: 10px;
    margin-top: 10vh;
}

@media only screen and (max-width: 600px){
    #searchControls {
        /* margin-top: 12vh; */
        /* margin: 8px; */
    }

    #coffees {
        margin-top: 12vh;
    }
} 

#container{
    display: none;
    height: 100vh;
}

.dialog-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    transition: all 2s;
}

.dialog{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    z-index: 1000;
    box-shadow: 0px 0px 10px whitesmoke;
    /* display: none; */
}


.dialog-header{
    height: fit-content;
    background: black;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dialog-close-btn{
    float: right;
    background: black;
    color: red;
    margin-left: 20px;
    border-top-right-radius: 8px;
    transition: all 1.2s;
}

.dialog-close-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    font-weight: bold;
}

.dialog-content{
    padding: 20px;
    background: linear-gradient(to bottom,black,white,black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dialog-footer{
    /* border: 1px dashed green; */
    min-height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: end;
}

.dialog-action{
    margin: 10px;
    transition: all 1.2s;
}

.dialog-action:hover{
    transform: scale(1.2);
}