table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    background-color: #b3825a !important;
}

.coffee:hover {
    background-color: wheat;
    padding: 1em;
}

input[type=submit] {
    background-color: black !important;
    color: wheat;
    border-color: wheat;
}